@import "tailwindcss";

:root {
    // background: rgb(130, 184, 246);
}

body {
    margin: 0;
    font-family: var(--font-geist-mono);
}

h1, h2, button, dt {
    font-family: var(--font-geist-sans);
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;
    color: #111111;
}

h2 {
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 1.3;
    color: #282828;
}

dt {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #5a5a5a;
}

@import "tailwindcss";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@theme {
    --animate-fadeIn: fadeIn 0.15s ease-in-out;
}